.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  max-width: 500px;
}

.openseaLogo {
  max-width: 30px;
  cursor: pointer;
}

.container a {
  cursor: pointer;
  color: rgb(221, 214, 214);
  transition: 0.5s ease;
}

.container a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.horLine {
  border: 1px solid #313131;
}
