@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Merienda One", cursive;
  background: radial-gradient(
    ellipse at bottom,
    rgba(14, 12, 12, 0.9),
    rgba(0, 0, 0, 0.9)
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  padding: 5px 0;
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
  border-bottom: 1px solid #313131;
  font-size: 16px;
}
nav a {
  margin-left: 12px;
  transition: ease 0.5s;
  cursor: pointer;
}
nav a:hover {
  color: rgb(189, 186, 186);
}

* {
  box-sizing: border-box;
}
