.container img {
  max-width: 100%;
}

.collectionDescription {
  padding: 20px 60px 0px 60px;
  margin: 0px 0.75em;
  text-align: center;
  border: 10px double #3f3531;
  line-height: 2rem;
}

/* CARD */

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  padding: 0.75em;
  text-align: center;
}

.portfolio img {
  width: 100%;
  height: auto;
}

.item {
  background: rgba(53, 42, 25, 0.384);
  border: 10px double #3f3531;
  transition: ease 0.5s;
}

.item:hover {
  box-shadow: 0 0 10px rgb(201, 191, 138);
}

.description {
  padding: 1em;
  color: rgb(236, 235, 231);
  letter-spacing: 1px;
}

.title {
  font-size: 1.5em;
  margin-top: 0;
}

/* LIGHTBOX */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.479);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: scale(0, 0);
  transition: ease-in-out 0.1s;
}

.lightbox:target {
  transform: scale(1, 1);
}

.lightboxContent {
  max-width: 640px;
  width: 90%;
  background: rgb(32, 28, 23);
  padding: 1em;
  position: relative;
  overflow-wrap: break-word;
}

.close {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  background: rgb(238, 232, 232);
  top: -1em;
  right: -1em;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close::after {
  content: "X";
  color: black;
  font-weight: 800;
}

.oslogo {
  width: 30px;
  cursor: pointer;
  transition: ease 0.5s;
  border-radius: 50%;
}
.oslogo:hover {
  background: rgb(50, 127, 216);
}

/* PAGINATION */

.paginationBttns {
  width: 80%;
  list-style: none;
  display: flex;
  /* justify-content: center; */
  margin: 0;
  padding-left: 16px;
}

.paginationBttns a {
  margin: 3px;
  color: #eceadc;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: rgb(54, 48, 27);
}

.paginationActive a {
  color: rgb(54, 48, 27);
}

.nextBtn {
  border: none;
}
