.container img {
  max-width: 100%;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  background-color: grey;
}

.portfolio img {
  width: 100%;
  height: auto;
}

.item {
  background: lightgray;
}

.description {
  padding: 1em;
}

.title {
  font-size: 1.5em;
  margin-top: 0;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.479);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0, 0);
  transition: transform ease-in-out 0.2s;
}

.lightbox:target {
  transform: scale(1, 1);
}

.lightboxContent {
  max-width: 640px;
  width: 90%;
  background: black;
  padding: 1em;
  position: relative;
  overflow-wrap: break-word;
}

.close {
  position: absolute;
  width: 2em;
  height: 2em;
  background: red;
  top: -1em;
  right: -1em;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close::after {
  content: "X";
  color: white;
  font-weight: 700;
}
