@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Merienda One", cursive;
  background: radial-gradient(
    ellipse at bottom,
    rgba(158, 125, 55, 0.9),
    rgba(51, 40, 24, 0.9)
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #4b3a20c7;
  font-size: 16px;
}
nav a {
  margin-left: 12px;
  transition: ease 0.5s;
  cursor: pointer;
}
nav a:hover {
  color: rgb(189, 186, 186);
}

footer {
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  border-top: 1px solid #4b3a20c7;
  font-family: "Courier New", Courier, monospace;
}

* {
  box-sizing: border-box;
}
