.container img {
  max-width: 100%;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  grid-gap: 1em;
  padding: 0.75em;
}

.featureImage {
  width: 100%;
  height: auto;
}

.item {
  background: rgba(53, 42, 25, 0.384);
  border: 10px double #3f3531;
  transition: ease 0.5s;
  padding: 20px;
}

.item:hover {
  box-shadow: 0 0 10px rgb(201, 191, 138);
}

.description {
  padding: 1em;
  color: rgb(236, 235, 231);
  letter-spacing: 1px;
}

.title {
  font-size: 1.5em;
  margin-top: 0;
}

.oslogo {
  width: 30px;
  cursor: pointer;
  transition: ease 0.5s;
  border-radius: 50%;
}
.oslogo:hover {
  background: rgb(50, 127, 216);
}
