.container {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.iframe {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 84px;
}

.container input {
  margin-top: 10px;
  font-size: 16px;
  font-size: Max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 1px solid var(--input-border);
  border-radius: 2px;
  transition: 180ms box-shadow ease-in-out;
}
